canvas {
    background-color:black;
}
body {
    margin: 0px;
}
#stats {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px !important;
    /* for some reason this keeps getting overridden */
}
/*  if you really want to override the css 
.dg .main{
    width: 400px !important;
}
*/